@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

/* Navbar */
.name-menu {
    font-family: "Biryani", sans-serif;
    font-weight: 700 !important;
    text-transform: lowercase;
    color: black !important;
    font-size: 20px !important;
}

.dropdown-menu[data-bs-popper] {
    left: -40px !important;
}
.dropdown-menu{text-align: center !important;}

/* Top context */
.top-context {
    padding: 0 !important;
    background-color: black;
}
.top-context p{text-align: center;
    background-color: black;
    margin: 0;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 0rem !important;}
